<!DOCTYPE html>
<html>

<head>
    <title>Sign up for Surfy Surfbot with Google</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="622551880865-2317scnfirngmsncanm491ie8fsbb5r3.apps.googleusercontent.com">
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var user_name = profile.getName();
            var email = profile.getEmail();
            var image_url = profile.getImageUrl();

            console.log('Name: ' + user_name);
            console.log('Image URL: ' + image_url);
            console.log('Email: ' + email);

            // Send user details to my server
            var url = "https://surfy-surfbot.herokuapp.com/catchNewGoogleUser"
            var req = new XMLHttpRequest();
            var params = JSON.stringify({
                'user_name': user_name,
                'image_url': image_url,
                'email': email
            })
            req.open('POST', url);

            req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
            //req.setRequestHeader('Content-length', params.length);
            //req.setRequestHeader('Connection', 'close');

            req.onload = function() {
                if (req.status == 200) {
                    console.log(req.response);
                    var response_data = JSON.parse(req.response);
                    console.log(response_data);

                    var doc_welcome_banner = document.getElementsByClassName("welcome-banner")[0];
                    if (response_data['new_user']) {
                        doc_welcome_banner.innerHTML = "Welcome, new User!"
                    } else {
                        doc_welcome_banner.innerHTML = "Welcome back, existing User!"
                    }

                    var profile_pic = document.getElementsByClassName("prof-pic")[0];
                    profile_pic.src = image_url;
                    profile_pic.height = "55";
                    profile_pic.width = "55";

                    var doc_user_name = document.getElementsByClassName("user-name")[0];
                    doc_user_name.innerHTML = user_name;

                    var doc_email = document.getElementsByClassName("user-email")[0];
                    doc_email.innerHTML = email;

                    var doc_continue_link = document.getElementsByClassName("continue-link")[0];
                    doc_continue_link.innerHTML = "To continue, <a href='https://surfy-surfbot.herokuapp.com/auth-calendar'>click here</a>"
                } else {
                    console.log(req.status);
                    console.log(req.response);
                }
            };

            req.send(params);
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log('User signed out.');
            });
        }
    </script>
</head>

<body>
    <h1>Sign up for Surfy Surfbot with Google</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div class="user-info">
        <p class="welcome-banner"></p>
        <img class="prof-pic" src="">
        <p class="user-name"></p>
        <p class="user-email"></p>
        <p class="continue-link"></p>
    </div>
    <p><br>Or, if you want, you can <a href="#" onclick="signOut();">Sign out</a></p>


    {% block content %}{% endblock %}

</body>

</html>
