<!DOCTYPE html>
<html>
<head>
<title>Sign up for Surfy Surfbot with Google</title>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="622551880865-2317scnfirngmsncanm491ie8fsbb5r3.apps.googleusercontent.com">
<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</head>
<body>
  <h1>Sign up for Surfy Surfbot with Google</h1>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <p>Or, if you want, you can <a href="#" onclick="signOut();">Sign out</a></p>


{% block content %}{% endblock %}

</body>
</html>
