<html>
  <head>
    <title>Auth Surfbot with GCal</title>
  </head>
  <body>
    <h1>Please click below to allow us access to your Google Calendar account.</h1>
    <p><a href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/calendar.readonly&client_id=622551880865-2317scnfirngmsncanm491ie8fsbb5r3.apps.googleusercontent.com&client_secret=HBZQdFCq9YrVmXjfHRex9oo7&redirect_uri=https://surfy-surfbot.herokuapp.com/auth-calendar-success&response_type=token&nonce=asdfn23409fnvoi23oi4nfnlkn0923nkf">Click here to give us permission on Google</a></p>
  </body>
</html>
