<html>

<head>
    <meta name="google-site-verification" content="SLtJCv01BIl_JsKj-pxNOMyv1mJj0NRdQ31IP4_Mp7E" />
    <title>Surf!</title>
</head>

<body>
    <h1>Surf!</h1>
    <div>
        <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot,chat:write:bot&client_id=2677507740.82989560420"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </div>
</body>

</html>
